# Ignore extensionless files (executables)
# https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign
*
!/**/
!*.*
!build
!build-wasm
!run
!run-test
*.o
