bin
site/documentation/*
site/documentation/**/*
!site/documentation/index.pug
site/example/*.c
*.html
!demo-wip/**/*.html
dyncall
crow-vscode/node_modules
crow-vscode/client/node_modules
crow-vscode/server/node_modules
temp
test/test
*.mdb
