# Ignore extensionless files (executables)
# https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign
*
!/**/
!*.*
!Makefile
!run
!run-test
bin
*.o

noze-vscode/node_modules
noze-vscode/client/node_modules
noze-vscode/server/node_modules

