include pug-include/page.pug
+page("Home")
	h2 crow

	p Crow is an upcoming programming language (in alpha state) featuring:
	ul
		li
			p.
				<span class="par-first">Safety</span>:
				A crow function is a "jail" that can't access data or perform side effects
				unless a parameter gives it permission.
				This means that just by looking at a function's signature, you know what it can do;
				and if all parameters are <code>data</code>, it is functionally pure.
				(Don't worry, you can directly call C libraries.)
			p.
				That means no global state, and no unsafe memory operations.
				They also can't perform I/O without permission being passed in by a parameter.
				This means that if you're tracking down a bug, you can exclude a function (and all code in it)
				based on just the arguments passed.
				Unsafe code (such as calling C libraries) is possible
				but can't be accidentally called from safe code.
		li
			p.
				<span class="par-first">Data</span>:
				immutable, serializable types that are just "plain old data".
			p.
				The compiler keeps track of what is and is not data,
				and allows <code>data</code> to be shared between parallel tasks,
				and ensures mutable variables are only accesed sequentially.
		li
			p.
				<span class="par-first">Templates</span>; everything is a template.
			p.
				Templates are type-checked abstractly, as in Java generics, but they can use <code>spec</code>s
				to refer to type-appropriate functions like <code>size-of</code> as in C++.
	p.
		Now, <a href="/download.html">download</a> crow
		or go straight to the the <a href="/tutorial">tutorial</a>.
