include ../pug-include/tutorial.pug
+tutorialPage("fun")
	section
		h2 Function values

		h3 fun

		p.
			A <em>function value</em> is a value that references a function,
			as well as a <em>closure</em> of data for the function to access.

		crow-runnable(src="fun")

		p.
			The <code>x => x + 1 to-str</code> syntax introduces a new function value.
			<code>x</code> is its parameter.
			When there are multiple (or zero) parameters,
			you must put them in parentheses, like <code>(x, y) =></code>.

			The parameter list may not contain types; they are inferred from the type the expression must have.
			For example, <code class="fun-ref">call-it</code> takes a <code>fun str(nat)</code>,
			so <code>x</code> must be a <code>nat</code>.

			<br />

			If the compiler doesn't infer a type, you could write
			<code>as&lt;fun str(nat)&gt;: x => x + 1 to-str</code> to make it explicit.

		p.
			The function result can either go on the same line after the `=>`, or you can start a new indented block.

		p.
			<code>fun str(nat)</code> is the type of a function value returning a
			<code class="struct-ref">str</code> given a <code class="struct-ref">nat</code>.

		p.
			<code>f[3]</code> is syntax for calling the function value.
			It's identical to <code>f subscript 3</code>;
			<code>subscript</code> is an auto-imported function that calls function values.

		h4 closures

		p.
			The inner function may access variables from the outer function;
			the variable is stored along with the function value.
			<br />
			This is called a <em>closure</em>.

		crow-runnable(src="closure")

		p.
			In this example, the <code class="param-def">type</code> variable becomes part of the closure
			returned by <code class="fun-def">make-cooker</code>.

			The closure of a <code class="struct-ref">fun</code> must be <code class="spec-ref">data</code>.

			This almost makes them pure functions, although performing I/O is still allowed.

	section
		h3 act

		p.
			An <code class="struct-ref">act</code> is like a <code class="struct-ref">fun</code>,
			except the closure may include mutable values.
			That's the only difference — the syntax to create and use them is identical.

		p.
			A <code class="struct-ref">fun</code> can be run in a parallel task,
			but an <code class="struct-ref">act</code> always runs in the context that created it.
			No two <code class="struct-ref">act</code>s closing over the same mutable value can run at the same time.

		p.
			Most common functions that take a function value and immediately call it take an
			<code class="struct-ref">act</code> to give the caller more flexibility.

			One example is <code class="fun-ref">map</code> from <code class="import">collection.arr-util</code>;
			this produces an output array from an input array by applying a function to each element.

		crow-runnable(src="act")
