mixin anyPage(title)
	doctype html
	html(lang="en")
		head
			meta(charset="utf-8")
			title Crow programming language: #{title}
			link(rel="icon" href="/crow.svg" type="image/x-icon")
			link(rel="stylesheet" href="/index.css")
			script(src="/crow-js/crow.js")
			script(type="module" async src="/script/index.js")
		body
			header
				nav
					div(id="crow")
						a(href="/")
							img(src="https://openclipart.org/download/28309/drunken-duck-crow-silhouette.svg")
					ul.grow
						li: a(href="/download.html") download
						li: a(href="/tutorial") tutorial
						li: a(href="/documentation.html") documentation
					ul
						li: a(href="https://github.com/andy-hanson/crow") repository
			block

mixin page(title)
	+anyPage(title)
		main
			block
