include ./page.pug

-
	const pages = [
		"index",
		"record",
		"enum",
		"union",
		"template",
		"collection",
		"fun",
		"fut",
		"module",
		"extern",
		"test",
	]
	const title = id =>
		({
			index: "Hello World!",
			record: "Records",
			enum: "Enums",
			union: "Unions",
			template: "Templates and specs",
			collection: "Collections",
			fun: "Function values",
			fut: "Futures and the runtime",
			module: "Modules",
			extern: "Extern functions and types",
			test: "Tests"
		})[id]
	const nextId = id =>
		pages[pages.indexOf(id) + 1]
	const nextTitle = id =>
		title(nextId(id))

mixin tutorialPage(id)
	+anyPage(title(id))
		div(id="side-nav-wrapper")
			nav
				ul
					li: a(href="/tutorial/") hello
					li: a(href="/tutorial/record.html") record
					li: a(href="/tutorial/enum.html") enum
					li: a(href="/tutorial/union.html") union
					li: a(href="/tutorial/template.html") template
					li: a(href="/tutorial/collection.html") collection
					li: a(href="/tutorial/fun.html") fun
					li: a(href="/tutorial/fut.html") fut
					li: a(href="/tutorial/module.html") module
					li: a(href="/tutorial/extern.html") extern
					li: a(href="/tutorial/test.html") test
			main
				block
				- if (nextId(id))
					a#next(href=nextId(id) + ".html") Next: #{nextTitle(id)}
