include ../pug-include/documentation.pug
+documentationPage("index")
	section
		h2 Documentation

		p.
			This contains automated documentation generated from the source code. It is meant to be read in random order.
			<br />
			For a guided tour, see the <a href="../tutorial">tutorial</a>.
